html,
body {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.text {
    font-family: Arial;
    text-align: center;
}

.text2 {
    font-family: Arial;
    text-align: left;
    margin-left: 20px;
}

.logo {
    font-family: Arial;
    color: white;
    float: left;
}

header {}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #033e5e;
    margin-top: -8px;
    margin-left: -8px;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-family: Arial;
}

li a:hover {
    background-color: #0082e6;
}

body {
    background: linear-gradient(-45deg, #00ffd0, #00e9d8, #00bde8, #00a7ef, #0091f7, #007bff);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

.Bilder {
    width: auto;
    height: 250px;
    position: relative;
    left: 20px;
}

.Bidler2 {
    width: auto;
    height: 250px;
    position: relative;
    right: 1000px;
}

.box {
    border: 0.2rem solid white;
}

.Zinsrechner {
    font-size: large;
    display: inline-block;
    vertical-align: top;
    position: relative;
    right: 0;
    top: 0;
    width: calc(150, 100, 50);
}

.CharArray {
    font-size: large;
    display: inline-block;
    vertical-align: top;
    position: relative;
    right: 0;
    top: 0;
    width: calc(150, 100, 50);
}

.Sinusfunktion {
    font-size: large;
    display: inline-block;
    vertical-align: top;
    position: relative;
    right: 0;
    top: 0;
    width: calc(150, 100, 50);
}

.Geldscheinpruefziffer {
    font-size: large;
    display: inline-block;
    vertical-align: top;
    position: relative;
    right: 0;
    top: 0;
    width: calc(150, 100, 50);
}