html,
body {
    width: 100%;
    height: 100%;
    justify-content: center;
}

body {
    background: linear-gradient(-90deg, #00ffd0, #00e9d8, #00bde8, #00a7ef, #0091f7, #007bff);
    background-size: 100%;
    object-fit: cover;
    animation: gradient 30s ease infinite;
}

.logo {
    font-family: sans-serif;
    color: white;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03045E;
    margin-top: -8px;
    margin-left: -8px;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-family: Arial;
}

li a:hover {
    background-color: #0082e6;
}

body {
    background: linear-gradient(-45deg, #00ffd0, #00e9d8, #00bde8, #00a7ef, #0091f7, #007bff);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

.Wtext {
    margin-top: 90px;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
}

.Prodiv {
    position: relative;
    top: 20px;
}

.Protext {
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
}

.Protext2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 24px;
}

.ZinsBild {
    width: 450px;
    height: 350px;
    position: relative;
    left: 450px;
    top: 50px;
    border: 3px solid white;
}

.ZinsP {
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: left;
    position: relative;
    bottom: 325px;
    left: 40px;
}

.PrüfBild {
    width: 450px;
    height: 350px;
    position: relative;
    left: 450px;
    top: 10px;
    border: 3px solid white;
}

.PrüfP {
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: left;
    position: relative;
    bottom: 325px;
    left: 40px;
}

.BBild {
    width: 450px;
    height: 350px;
    position: relative;
    left: 450px;
    border: 3px solid white;
}

.BmiP {
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: left;
    position: relative;
    bottom: 325px;
    left: 40px;
}

.ArrayBild {
    border: 3px solid white;
    width: 450px;
    height: 350px;
    position: relative;
    left: 450px;
}

.ArrayP {
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: left;
    position: relative;
    bottom: 325px;
    left: 40px;
}