.body {   
 background-color: coral;

   }

    .Button-linking {

      padding: 0.5em  0.3em;
      border: 0.6px solid darkseagreen;
      border-radius: 0.11px lightgreen;
      background-color: darkseagreen;
      color: black;
      font-size: 0.8rem;
      text-decoration: none;
      cursor: pointer;
   }

   .Button-linking:hover{

background-color: gray;

   }

   .p {

    color: white;  

   }
    