body {
    width: 100%;
    height: 100%;
    justify-content: center;
}

body {
    background: linear-gradient(-45deg, #00ffd0, #00e9d8, #00bde8, #00a7ef, #0091f7, #007bff);
    background-size: auto;
    object-fit: cover;
    animation: gradient 30s ease infinite;
}

.ID-Karten {
    border-radius: 84px;
    background: #f7f7f7;
    box-shadow: inset 6px 6px 20px #d2d2d2, inset -6px -6px 20px #ffffff;
    width: 750px;
    height: 515px;
    padding-bottom: 2pt;
    position: relative;
    text-align: left;
    padding: 25pt;
    margin-left: 253pt;
    padding-top: 10pt;
}

.ID-Karten2 {
    border-radius: 84px;
    background: #f7f7f7;
    box-shadow: inset 6px 6px 20px #d2d2d2, inset -6px -6px 20px #ffffff;
    width: 750px;
    height: 515px;
    position: relative;
    top: 30px;
    padding: 25pt;
    text-align: left;
    margin-left: 253pt;
}

.ID-Text {}

.ID-Liste {
    list-style: none;
    margin-left: 0;
    margin-top: 3px;
    color: black;
}

.ID-Bilder {
    border-radius: 10px;
    bottom: 20px;
    right: 160px;
    position: relative;
    width: 150px;
    height: 150px;
}

.ID-Bilder2 {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    position: relative;
}

.ID-Same {
    border-radius: 10px;
    position: relative;
}

.ID-Head {}

.ID-Jannik {
    width: 160px;
    height: 200px;
    position: relative;
    top: 15px;
    left: 83px;
    border-radius: 10px;
}

.ID-Text {
    margin-top: 20px;
    font-family: Impact;
    font-weight: 700;
    font-style: none;
    margin: 20px;
    margin-left: 55px;
    padding: 60px;
    float: left;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-family: Impact;
    position: sticky;
}

li a:hover {
    background-color: #0082e6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03045E;
}

.logo {
    float: left;
}

footer {
    background-color: grey;
    border-top: 3px solid rgba(18, 18, 221, 0.879);
    position: relative;
    top: 90px;
}

.fa-instagram {
    color: black;
    position: relative;
    right: 1030px;
}

.fa-github-square {
    color: black;
    position: relative;
    right: 1020px;
}

.ID-Lange {
    border-top: 4px solid grey;
}